{% extends 'templateApp.html' %}
{% block body %}
<h3>Account informations</h3>
<p>First name: {{ actual_user.first_name }} </p>
<p>Last name: {{ actual_user.last_name }} </p>
<p>Username: {{ actual_user.username }} </p>
<p>Email: {{ actual_user.email }} </p>
<p>Account creation date: {{ actual_user.date_joined }} </p>
<p>Last login date: {{ actual_user.last_login }} </p>
<p>Size: {{ actual_player.size }}</p>
<p>Weight: {{ actual_player.weight }}</p>
<p>Gender: {{ actual_player.gender }}</p>
<p>Strong arm: {{ actual_player.strong_arm }}</p>
<p>Birthdate: {{ actual_player.birthdate }}</p>
<p>Specifical id: {{ actual_player.spec_id }}</p>
<p>Phone number: {{ actual_player.phone_number }}</p>
<p>Played games: {{played_games.count }}</p>
<p>Best score: {{max_score}}</p>
<p>Best time: {{min_time}}</p>
{% endblock %}

<!-- TODO Mettre en forme les informations, de préférence tout les information propre à l'actual user ensemble
 tous les information propre au actualPlayer ensemble et les données supplémentaire comme played games, score et temps dans une
 troisième section -->