{% extends 'templateApp.html' %}
{% block body %}
    <div class="row">
        <a href="{% url 'view' 0 %}">
        <div class="col s5 red">
            <div class="card">
                <div class="card-image">
                    {% load static %}
                    <img src="{% static "game.jpg" %}" alt="gam1"/>
                    <span class="card-title">Arm Reeducation</span>
                </div>
                <div class="card-content">
                    <p>this game will be used for reeducation of your arm</p>
                </div>
            </div>
        </div></a>
        <div class="col s5 offset-s2 green">
            <a href="{% url 'view' 1 %}">
            <div class="card">
                <div class="card-image">
                    {% load static %}
                    <img src="{% static "game.jpg" %}" alt="game2"/>
                    <span class="card-title">Coordinate Arm</span>
                </div>
                <div class="card-content">
                    <p>this game will be used for coordination of your arm</p>
                </div>
            </div></a>
        </div>
    </div>
    <div class="row">
        <div class="col s5 blue">
            <a href="{% url 'view' 2 %}">
            <div class="card">
                <div class="card-image">
                    {% load static %}
                   <img src="{% static "game.jpg" %}" alt="gam3" />
                    <span class="card-title">Hand Reeducation</span>
                </div>
                <div class="card-content">
                    <p>this game will be used for reeducation of your hand</p>
                </div>
            </div></a>
        </div>
        <div class="col s5 offset-s2 yellow">
            <a href="{% url 'view' 3 %}">
            <div class="card">
                <div class="card-image">
                    {% load static %}
                    <img src="{% static "game.jpg" %}" alt="game4"/>
                    <span class="card-title">Hand Coordination</span>
                </div>
                <div class="card-content">
                    <p>this game will be used for coordination of your hand</p>
                </div>
            </div>
            </a>
        </div>
    </div>
{% endblock %}