{% extends 'templateApp.html' %}
{% block body %}
<div id="index-page" class="valign-wrapper">
    <div class="col s6 z-depth-4 card-panel valign">
        <div class="center">
            <h2>ReEduc website</h2>
        </div>
        <div class="row">
            <p>Welcome to ReEduc website. You need an account to continue and see the infomations concerning your
                results on the ReEduc mobile application.</p>
        </div>
        <div class="valign-wrapper">
            <div class="col s6 valign">
                <div class="row">
                    <div class="input-field col s12">
                        <p>You have already an account?</p>
                        <a href="login.html" class="btn waves-effect waves-light teal lighten-3 col s12">Login</a>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <p>You need an account?</p>
                        <a href="subscribe.html"
                           class="btn waves-effect waves-light teal lighten-3 col s12">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}