{% extends 'templateApp.html' %}
{% block body %}
<div id="subscribe-page" class="valign-wrapper">
    <div class="col s12 z-depth-4 card-panel valign">
        <div class="row">
            <div class="input-field col s12 center">
                <!--<img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">-->
                <h4>Please enter your informations</h4>
            </div>
        </div>
        <div class="row">
            <form class="subscribe-form" action='/reeduc/subscribe/' method='post'> {% csrf_token %}
                <div class="row">
                    <div class="col s6">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="firstname" type="text" name="firstname">
                                <label for="firstname" class="center-align">First Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="lastname" type="text" name="lastname">
                                <label for="lastname" class="center-align">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="birthdate" type="text" name="birthdate">
                                <label for="birthdate" class="center-align">Birth Date</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" name="email">
                                <label for="email" class="center-align">E-Mail</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="phone" type="text" name="phone">
                                <label for="phone" class="center-align">Phone</label>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="row"> <!--a modifier -->
                            <div class="input-field col s12">
                                <select>
                                    <option value="" name="gender" disabled selected>Choose your gender</option>
                                    <option value="Man">Man</option>
                                    <option value="Woman">Woman</option>
                                </select>
                                <!--<input id="gender" type="text">
                                <label for="gender" class="center-align">Gender</label>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="height" type="text" name="height"><!-- modif type -->
                                <label for="height" class="center-align">Height</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="weight" type="text" name="weight"><!-- modif type -->
                                <label for="weight" class="center-align">Weight</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 login-text">
                                <label>Missing Fingers</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <label>Left Hand</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="checkbox" id="thumbleft" name="thumbleft"/>
                                    <label for="thumbleft">Thumb</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="checkbox" id="forefingerleft" name="forefingerleft"/>
                                    <label for="forefingerleft">Forefinger</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="checkbox" id="middlefingerleft" name="middlefingerleft"/>
                                    <label for="middlefingerleft">Middle Finger</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="checkbox" id="ringfingerleft" name="ringfingerleft"/>
                                    <label for="ringfingerleft">Ring Finger</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="checkbox" id="littlefingerleft" name="littlefingerleft"/>
                                    <label for="littlefingerleft">Little Finger</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <label>Right Hand</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="checkbox" id="thumbright" name="thumbright"/>
                                    <label for="thumbright">Thumb</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="checkbox" id="forefingerright" name="forefingerright"/>
                                    <label for="forefingerright">Forefinger</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="checkbox" id="middlefingerright" name="middlefingerright"/>
                                    <label for="middlefingerright">Middle Finger</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="checkbox" id="ringfingerright" name="ringfingerright"/>
                                    <label for="ringfingerright">Ring Finger</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="checkbox" id="littlefingerright" name="littlefingerright"/>
                                    <label for="littlefingerright">Little Finger</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 login-text">
                                <label>Arm Disabled</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="checkbox" id="leftarm" name="leftarm"/>
                                    <label for="leftarm">Left Arm</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="checkbox" id="rightarm" name="rightarm"/>
                                    <label for="rightarm">Right Arm</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 login-text">
                                <label>Strong arm</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="radio" id="leftstrongarm" name="strongarm" value="Left"/>
                                    <label for="leftstrongarm">Left Arm</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="row">
                                <div class="input-field col s12 login-text">
                                    <input type="radio" id="rightstrongarm" name="strongarm" value="Right"/>
                                    <label for="rightstrongarm">Right Arm</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div clas="row">
                    <div class="valign-wrapper">
                        <div class="col s6 valign">
                            <div class="row">
                               <button type="submit">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
{% endblock %}
<!-- TODO Utiliser les forms proposé par Django ou alors faire une validation sur les champs
important!! Ne pas oublier l'attribut name et garder le même nom que précisé ci-dessus, ce nom est utilisé dans
le fichier views.py-->