{% extends 'templateApp.html' %}
{% block body %}
<div id="login-page" class="valign-wrapper">
    <div class="col s6 z-depth-4 card-panel valign">
        <form class="login-form" action="{% url 'login' %}" method='post' >  {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 center">
                    <h1>ReEduc</h1>
                    <!--<img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">-->
                    <h4>You must login to continue</h4>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="username" name='username' type="text">
                    <label for="username"  class="center-align">Username</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password" type="password" name='password' >
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12  login-text">
                    <input type="checkbox" id="remember-me"/>
                    <label for="remember-me">Remember me</label>
                </div>
            </div>
            <div class="row">
                    <button type="submit">Login</button>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a href="subscribe.html" class="teal-text text-lighten-3">Register
                        Now!</a></p>
                </div>
                <div class="input-field col s6 m6 l6">
                    <p class="margin right-align medium-small"><a href="page-forgot-password.html"
                                                                  class="teal-text text-lighten-3">Forgot password ?</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}