{% extends 'templateApp.html' %}
{% block body %}
<div id="subscribe-page" class="valign-wrapper">
    <div class="col s6 z-depth-4 card-panel valign">
        <div class="row">
            <div class="input-field col s12 center">
                <!--<img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">-->
                <h4>Please enter your informations</h4>
            </div>
        </div>
        <div class="row">
            <form class="subscribe-form" action="{% url 'subscribe' %}" method='post'> {% csrf_token %}
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" type="text" name="username" required>
                                <label for="username" class="center-align">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" name="password" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" name="email" required>
                                <label for="email" class="center-align">E-Mail</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div clas="row">
                    <div class="valign-wrapper">
                        <div class="col s6 valign">
                            <div class="row">
                               <button type="submit">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
{% endblock %}
<!-- TODO Utiliser les forms proposé par Django ou alors faire une validation sur les champs
important!! Ne pas oublier l'attribut name et garder le même nom que précisé ci-dessus, ce nom est utilisé dans
le fichier views.py-->