{% load staticfiles %}
{% load static %}
<html>
<head>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"
          media="screen,projection"/>
</head>
<body>
<div id="app">
    <div class="row">
        <div class="col s10 offset-s1">
                <div class="navbar">
                    <nav>
                        <div class="nav-wrapper grey lighten-5">
                            <ul class="right">
                                <!-- Dropdown Trigger -->
                                <li><a href="{% url 'login' %}" class="teal-text text-lighten-3">login</a></li>
                                <li><a href="{% url 'subscribe' %}" class="teal-text text-lighten-3">inscription</a>
                                </li>
                            </ul>
                            <!-- c'est ici qu'on change la navbar si connecter -->
                            <ul class="left teal-text text-lighten-3">
                                <!-- Dropdown Trigger -->
                                    <li><a href="{% url 'home' %}" class="teal-text text-lighten-3">home</a></li>
                                    <li><a href="{% url 'view' %}" class="teal-text text-lighten-3">view</a></li>
                                    <li><a href="{% url 'account' %}" class="teal-text text-lighten-3">account</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
{% block footer %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
{% endblock %}
</body>
</html>